
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/ch03/style03.css">
</head>
<body>

      <!-- 시작 -->

      <ul>
        <li>저스티스 리그</li>
        <li>어벤져스</li>
        <li>엑스맨
          <ol>
            <li>퍼스트 클래스</li>
            <li>데이즈 오브 퓨쳐 패스트</li>
            <li>아포칼립스</li>
            <li><s>다크피닉스</s></li>
          </ol>
        </li>
      </ul>

      <p>
        <strong>list-style</strong> 속성으로 ul과 ol 목록의 불릿, 숫자 스타일을 지정할 수 있습니다. <br>
        ul, ol 여부와 관계없이 기호, 서수, 원하는 문자, 이모지, 심지어 이미지까지 사용할 수 있죠. <br><br>
        <em>none</em> 값을 사용하여 아무것도 붙이지 않을 수도 있습니다. <br><br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/list-style" target="_blank">👉 MDN에서 더 자세한 설정 방법 보기</a>
      </p>

    <!-- 끝 -->
</body>
</html>

