
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/ch03/style01.css">
</head>
<body>

    <!-- 시작 -->

    <div>
      <h1>정렬과 간격</h1>
      <p>
        <strong>text-align</strong> 속성은 텍스트의 정렬 방식을 지정합니다. 직관적으로 알 수 있듯, 기본값인 <em>left</em>는 왼쪽, <em>center</em>는 가운데, <em>right</em>은 오른쪽으로 텍스트(및 인라인 요소들)을 정렬하죠. <em>justify</em>는 왼쪽으로 정렬하면서, 텍스트가 여러 줄이 될 때 마지막 줄을 제외한 줄들의 오른쪽이 나란히 되도록 각 줄의 공간을 조절합니다.
      </p>
      <p>
        <strong>letter-spacing</strong>으로는 자간, <strong>word-spacing</strong>으로는 단어 간격, <strong>line-height</strong>으로는 줄 높이를 조절할 수 있습니다.
      </p>
    </div>

    <!-- 시작 -->
  

</body>
</html>
