
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/ch02/style04.css">
</head>
<body>
   <!-- 시작 -->

   <p>
    <strong>text-shadow</strong>를 사용하면 텍스트에 그림자를 줄 수 있습니다. <br><br>
    'x좌표, y좌표, 흐림(선택), 색' 형식으로 그림자를 넣을 수 있고 <br>
    쉼표로 구분해서 여럿을 넣을 수도 있습니다. <br><br>
    <b>크롬 계열 브라우저</b>의 개발자 도구를 사용하면 손쉽게 값을 조정할 수 있죠. <br>

    <h1>크롬 개발자 도구 열기</h1>
    <p>
      윈도우: <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>i</kbd> <br>
      맥: <kbd>Cmd</kbd> + <kbd>Alt</kbd> + <kbd>i</kbd>
    </p>
  </p>

  <!-- 끝 -->
</body>
</html>

