
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/ch04/style01.css">
</head>
<body>

  <h1>색상 표현하기</h1>

  <p>
    CSS에서는 아래의 형식들을 사용하여 색상을 지정할 수 있습니다.
  </p>

  <ul>
    <li id="keyword">
      Keyword 
      <div><div></div></div>
    </li>
    <li id="rgb">
      RGB(A)
      <div><div></div></div>
    </li>
    <li id="hex">
      HEX
      <div><div></div></div>
    </li>
    <li id="hsl">
      HSL(A)
      <div><div></div></div>
    </li>
  </ul>

  <p>
    <em>keyword</em>는 색상마다 부여된 이름으로
    <a href="https://developer.mozilla.org/ko/docs/Web/CSS/color_value#%EC%83%89%EC%83%81_%ED%82%A4%EC%9B%8C%EB%93%9C" target="_blank">이 링크에서</a> 목록을 확인할 수 있습니다.
    <br><br>
    <em>RGB(A)</em>는 빨강, 초록, 파랑의 광원으로 색을 혼합하는 방식이며 <br>
    끝에 알파값을 붙여서 투명도를 조절할 수 있죠.
    <br><br>
    <em>HEX</em>는 R, G, B, Alpha 값들을 16진수형태로 나타낸 것입니다.
    <br><br>
    <em>HSL(A)</em>은 색상, 채도, 명도값 그리고 알파값을 조합하여 색을 나타냅니다.
  </p>

  

</body>
</html>
